<section class="hero bg-cover bg-position py-4" style="background: url(assets/img/hero-banner-1.jpg)">
    <div class="container py-5 index-forward text-white">
        <h1>Products</h1>
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none mb-0 p-0">
                <li class="breadcrumb-item ps-0"><a href="index.html"> <i class="fas fa-home me-2"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
    </div>
</section>

<section>
    <div class="container">
        <div class="row py-3 px-3">
            <div class="col-lg-5 py-3 px-3">
                <img class="img-fluid pt-1 bg-primary mb-3" src="assets/img/hydrated-lime-packing.jpg" alt="">
            </div>
            <div class="col-lg-7 py-3 px-3 ">
                <h3 class="text-muted">Hydrated Lime </h3>
         
                <table class="table table-bordered mt-3">
                    <tbody>

                        <tr>
                            <td>Material</td>
                            <td>Hydrated Lime</td>
                        </tr>
                        <tr>
                            <td>Packaging Size</td>
                            <td>25 Kg, 40 Kg, 1000 Kg</td>
                        </tr>
                        <tr>
                            <td>Packaging Type</td>
                            <td>Bag, Plastic Bag</td>
                        </tr>
                        <tr>
                            <td>Purity</td>
                            <td>0.90, 0.85, 0.80</td>
                        </tr>
                        <tr>
                            <td>Form</td>
                            <td>Powder</td>
                        </tr>

                    </tbody>
                </table>
                <p class="text-md text-muted">
                    The Powdered Hydrated Lime, offered by us, appears white in color due to the varying content ranging from 80% to 90%. High purity and accurate...<a class="reset-anchor text-primary text-sm" routerLink="/hydrated-lime">View more<i class="fas fa-angle-right ms-2"></i></a>
                </p>
                
            </div>
        </div>

        <div class="row py-3 px-3">
            <div class="col-lg-5 py-3 px-3">
                <img class="img-fluid pt-1 bg-primary mb-3" src="assets/img/quick-lime.png" alt="img quick lime">
            </div>
            <div class="col-lg-7 py-3 px-3 ">
                <h3 class="text-muted">Quick Lime</h3>
         
                <table class=" table table-bordered mt-3">
                    <tbody>

                        <tr>
                            <td>Material</td>
                            <td>Quick Lime</td>
                        </tr>
                        <tr>
                            <td>Packaging Size</td>
                            <td>25 Kg, 40 Kg, 1000 Kg</td>
                        </tr>
                        <tr>
                            <td>Packaging Type</td>
                            <td>Bag, Plastic Bag</td>
                        </tr>
                        <tr>
                            <td>Size (mm)</td>
                            <td>15 - 80</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Solid</td>
                        </tr>

                    </tbody>
                </table>
                <p class="text-md text-muted">
                    Quicklime is also known as burnt lime and is manufactured by heating crushed and sorted limestone in a
                    rotary or shaft kiln. Lmestone (CaCO3)...<a class="reset-anchor text-primary text-sm" routerLink="/quick-lime">View more<i class="fas fa-angle-right ms-2"></i></a>
                </p>
            </div>
        </div>


        <div class="row py-3 px-3">
            <div class="col-lg-5 py-3 px-3">
                <img class="img-fluid pt-1 bg-primary mb-3" src="assets/img/limestone.jpg" alt="img limestone">
            </div>
            <div class="col-lg-7 py-3 px-3 ">
                <h3 class="text-muted">Limestone- Natural Mineral </h3>
         
                <table class="table table-bordered mt-3">
                    <tbody>

                        <tr>
                            <td>Material</td>
                            <td>Limestone- Natural</td>
                        </tr>
                        <tr>
                            <td>Application</td>
                            <td>Construction Industry, AAC Blocks</td>
                        </tr>

                        <tr>
                            <td>Grade Standard</td>
                            <td>Industrial Grade, Commercial Grade</td>
                        </tr>
                        <tr>
                            <td>Packaging Size</td>
                            <td>25 Kg, 40 Kg, 1000 Kg</td>
                        </tr>
                        <tr>
                            <td>Packaging Type</td>
                            <td>Bag, Plastic Bag, Jumbo Bag</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Solid</td>
                        </tr>

                    </tbody>
                </table>
                <p class="text-md text-muted">
                    Limestone (calcium carbonate CaCO3) is a type of carbonate sedimentary rock which is the main source of
                the material lime...<a class="reset-anchor text-primary text-sm" routerLink="/limestone">View more<i class="fas fa-angle-right ms-2"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>