<section class="hero bg-cover bg-position py-4" style="background: url(assets/img/hero-banner-1.jpg)">
  <div class="container py-5 index-forward text-white">
    <h1>About Us</h1>
    <!-- Breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-none mb-0 p-0">
        <li class="breadcrumb-item ps-0"><a href="index.html"> <i class="fas fa-home me-2"></i>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About us</li>
      </ol>
    </nav>
  </div>
</section>
<section class="py-5">
  <div class="container py-5">
    <div class="row gy-4">
      <div class="col-lg-8">
        <h3 class="pt-1 text-primary">Kuber Chemicals </h3>
        <p class="text-md text-muted">
          We, <b> Kuber Chemicals</b> are a reputed name, which is engaged in manufacturing, supplying, distributing, retailing
          and wholesaling a wide range of Chemicals, primaraly Lime products. Under this range, we offer clients
          Industrial Chemicals, Agriculture Chemicals and Dyeing Chemicals.
          <br><br>
          Utilizing one of the highest purity limestone reserves available, Kuber Chemicals has become the most
          diversified producer of high calcium lime in India with mining facilitity in Nagaur of Rajasthan. The deposits
          has proven mineral reserves of more than 8 million tons. The mineral is characterized by a high degree of purity, low iron oxide content
          and almost no heavy metals. With a commitment to research and development, Kuber Chemicals is setting itself
          up to ensure that it can continue its exponential growth, focusing in part on latest technology & qualitative
          needs. We are a process driven and detail oriented organization. We believe in transparency, ownership and
          accountability at all the levels of any job undertaken.To ensure product quality, we take advantage of the
          latest in process control methods such as Statistical Process Control (SPC) and Statistical Quality Control
          (SQC) techniques.vasudev chemical plant is Quality of ISO 9001:2008 quality assurance procedures and follow the required standards.
          <br><br>
          We formulate these chemicals using best
          quality ingredients in accurate composition. Offered chemicals are known among the clients for their accurate
          composition, longer shelf life and environment friendliness. These chemicals are commonly used in the various
          industries such as agriculture, manufacturing, construction ,paper, paint and pharma. We also provide
          commissoning services to our valuable clients.
          <br><br>
          We have developed a sophisticated infrastructure facility that aids us in offering pure chemicals to the
          clients. Our labs are will equipped with the required instruments and facilities for the smooth execution.
          Further, to handle all business related responsibilities efficiently, we have appointed a team of highly
          skilled professionals and domain experts. Our professionals put their sincere efforts to bring forth a range
          of best quality chemicals. Due to the best quality and purity of offered chemicals, we have been able to
          garner a vast clientele all across the globe.
        </p>
      </div>

      <div class="col-lg-4 mb-3 px-5">
        <div class="p-2 border"><img class="img-fluid" src="assets/img/lime-factory.jpg" alt="img factory"></div>
        <div class="p-2 border mt-3"><img class="img-fluid" src="assets/img/hydrated-lime.jpg" alt="img hydreated lime"></div>
      </div>
    </div>

    <div class="row gy-4 mt-4">
      <div class="col-lg-5">
        <div class="pt-1 bg-primary"><img class="img-fluid" src="assets/img/about-img.jpg" alt=""></div>
      </div>
      <div class="col-lg-6">
        <p class="h6 mb-1 text-uppercase text-primary mb-3">BRIEF INTRO</p>
        <h2 class="mb-4">We Work With You To Address Your Most Critical Business Priorities</h2>
        <p class="text-sm text-muted">With an excellent team of experienced professionals in the field of lime manufacturing business. We aim to fulfill the needs of our customers through our qualitative range of lime products and minerals.</p>
        <ul class="list-check list-unstyled row px-3 gy-2 mb-4">
          <li class="text-sm text-muted col-lg-6">Logistics Support</li>
          <li class="text-sm text-muted col-lg-6">Learn from customer feedback</li>
          <li class="text-sm text-muted col-lg-6">Engage - marketing automation</li>
          <li class="text-sm text-muted col-lg-6">Support -customer support</li>
          <li class="text-sm text-muted col-lg-6">Acquire live chat enables sales</li>
          <li class="text-sm text-muted col-lg-6">Learn from customer feedback</li>
        </ul>
        <ul class="list-inline py-4 border-top border-bottom d-flex align-items-center">
          <li class="list-inline-item pe-4 me-0"><img src="assets/img/about-sign.png" alt="" width="80"></li>
          <li class="list-inline-item px-4 me-0 border-start">
            <h5 class="mb-0">Jhon Martin</h5>
            <p class="small fw-normal text-muted mb-0">Chairnan and founder </p>
          </li>
          <li class="list-inline-item ps-4 border-start">
            <h5 class="mb-0">+535 421 895 6523</h5>
            <p class="small fw-normal text-muted mb-0">Call to ask any question</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container py-5">
    <header class="mb-5 text-center">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <p class="h6 text-uppercase text-primary">Reliable &amp; Trustworthy</p>
          <h2>We're looking for specific approach to each cases</h2>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore</p>
        </div>
      </div>
    </header>
    <div class="row align-items-stretch gy-4">
      <div class="col-lg-4">
        <div class="bg-white h-100">
          <div class="bg-primary px-4 py-3 d-inline-block">
            <svg class="svg-icon text-white">
              <use xlink:href="#arrow-target-1"> </use>
            </svg>
          </div>
          <div class="px-5 pt-0 pb-5 bg-white text-center">
            <h2 class="h4 mb-3">Our mission</h2>
            <p class="text-muted text-sm mb-0">Our mission is to meet the increasing and diversified demands of the
              customers.
              by providing quality products & reliable services and becoming professional partners for our principals to
              meet the objectives.
              Being the preferred supplier of our customers, with our products exceeding their quality and meeting 100%
              compliance and Customer satisfaction levels from our services.

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bg-white h-100">
          <div class="bg-primary px-4 py-3 d-inline-block">
            <svg class="svg-icon text-white">
              <use xlink:href="#stack-1"> </use>
            </svg>
          </div>
          <div class="px-5 pt-0 pb-5 bg-white text-center">
            <h2 class="h4 mb-3">Our vision</h2>
            <p class="text-muted text-sm mb-0">Dedication to providing varied range of quality chemicals, safety
              essential product, Pipes & fitting. We will strive to implement a long term relationship with our clients,
              based on safety, quality, timely service and an anticipation of their needs. As one of the most reputed
              company, we continuously serve / supply cost-effective products of good quality for all our customers.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bg-white h-100">
          <div class="bg-primary px-4 py-3 d-inline-block">
            <svg class="svg-icon text-white">
              <use xlink:href="#sales-up-1"> </use>
            </svg>
          </div>
          <div class="px-5 pt-0 pb-5 bg-white text-center">
            <h2 class="h4 mb-3">Our strategies</h2>
            <p class="text-muted text-sm mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae,
              nobis aliquid iusto quibusdam, neque obcaecati delectus. Aliquid veritatis, quo, dignissimos quam magni
              debitis, minima blanditiis pariatur quae molestiae cumque amet?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container py-5">
    <h2>Frequently asked questions</h2>
    <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item border-0 mb-1">
            <div class="accordion-header p-0 border-0 bg-white" id="headingOne">
              <h6 class="mb-0">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">What is the procedure to join with your company?

                </button>
              </h6>
            </div>
            <div class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" id="collapseOne">
              <div class="p-4">
                <p class="text-sm text-muted mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                  terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item border-0 mb-1">
            <div class="accordion-header p-0 border-0 bg-white" id="headingTwo">
              <h6 class="mb-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Do you give any offer
                  for premium customer?

                </button>
              </h6>
            </div>
            <div class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" id="collapseTwo">
              <div class="p-4">
                <p class="text-sm text-muted mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                  terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item border-0 mb-1">
            <div class="accordion-header p-0 border-0 bg-white" id="headingThree">
              <h6 class="mb-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What makes you
                  special from others?

                </button>
              </h6>
            </div>
            <div class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" id="collapseThree">
              <div class="p-4">
                <p class="text-sm text-muted mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                  terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li class="d-flex">
            <svg class="svg-icon text-primary">
              <use xlink:href="#sales-up-1"> </use>
            </svg>
            <div class="ms-3">
              <h5>Talent &amp; HR Analytics</h5>
              <p class="text-sm text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat. </p>
            </div>
          </li>
          <li class="d-flex">
            <svg class="svg-icon text-primary">
              <use xlink:href="#shield-security-1"> </use>
            </svg>
            <div class="ms-3">
              <h5>Fraud &amp; Risk Analytics</h5>
              <p class="text-sm text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat. </p>
            </div>
          </li>
          <li class="d-flex">
            <svg class="svg-icon text-primary">
              <use xlink:href="#pie-chart-1"> </use>
            </svg>
            <div class="ms-3">
              <h5>Marketing Analytics.</h5>
              <p class="text-sm text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>