<section class="hero bg-cover bg-position py-4" style="background: url(assets/img/applications-bg.jpg)">
    <div class="container py-5 index-forward text-white">
        <h1>Hydrated Lime</h1>
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none mb-0 p-0">
                <li class="breadcrumb-item ps-0"><a routerLink="/"> <i class="fas fa-home me-2"></i>Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a routerLink="/products">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hydrated Lime</li>
            </ol>
        </nav>
    </div>
</section>

<div class="container py-5">
    <div class="row py-4">
        <div class="col-lg-7 col-md-6">
            <h6 class="text-muted">Top Quality Assurance</h6>
            <h2 class="mt-3 mb-3 text-primary">Hydrated Lime </h2>
            <p class="text-md mb-0 text-muted">
                Kuber Chemicals is a manufacturer and supplier of premium quality hydrated lime. The products purity and
                surface area facilitate its chemical reactivity and settling rate.
                We are renowned as one of the forefront Hydrated Lime Manufacturer and Suppliers in India.
                <br><br>
                The Powdered
                Hydrated Lime, offered by us, appears white in color due to the varying content ranging from 80% to 90%.
                High purity and accurate composition have also attracted various industrial sectors to place repeated
                orders for the Hydrated Lime. It is also known as Slaked Lime or Calcium Hydroxide.
            </p>
        </div>
        <div class="col-lg-5 px-4 py-4">
            <img class="img-fluid pt-1 bg-primary mb-3" src="assets/img/hydrated-lime-packing.jpg" alt="">
        </div>
    </div>

    <div class="row py-4">
        <div class="col-lg-7 col-md-6">
            <h2 class="mt-3 mb-3 text-muted">Product Specifications</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr class="text-primary">
                        <td valign="top"><strong>Grades</strong></td>
                        <td valign="top"><strong>A</strong></td>
                        <td valign="top"><strong>B</strong></td>
                        <td valign="top"><strong>C</strong></td>
                        <td valign="top"><strong>D</strong></td>
                        <td valign="top"><strong>E</strong></td>
                        <td valign="top"><strong>F</strong></td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">&nbsp;% of Available Lime as Ca(OH)2</td>
                        <td valign="top">+90</td>
                        <td valign="top">+85</td>
                        <td valign="top">+80</td>
                        <td valign="top">+75</td>
                        <td valign="top">+70</td>
                        <td valign="top">+65</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">&nbsp;% of Available Lime as</td>
                        <td valign="top">+68</td>
                        <td valign="top">+64</td>
                        <td valign="top">+60</td>
                        <td valign="top">+56</td>
                        <td valign="top">+52</td>
                        <td valign="top">+49</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">&nbsp;% Acid Insolubles (Max.)</td>
                        <td valign="top">1.0</td>
                        <td valign="top">1.5</td>
                        <td valign="top">3.0</td>
                        <td valign="top">4.0</td>
                        <td valign="top">4.5</td>
                        <td valign="top">6.0</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">&nbsp;% Iron &amp; Alumina</td>
                        <td valign="top">As Fe<br>
                            &lt;0.035</td>
                        <td valign="top">As Fe<br>
                            &lt;0.040</td>
                        <td valign="top">As Fe<br>
                            &lt;0.050</td>
                        <td valign="top">As Fe<br>
                            &lt;0.055</td>
                        <td valign="top">As Fe<br>
                            &lt;0.060</td>
                        <td valign="top">As Fe<br>
                            &lt;0.060</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">&nbsp;% Magnesia as MgO</td>
                        <td valign="top">1</td>
                        <td valign="top">1</td>
                        <td valign="top">1.25</td>
                        <td valign="top">1.5</td>
                        <td valign="top">2</td>
                        <td valign="top">2</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">&nbsp;Mesh (BSS)</td>
                        <td valign="top">250</td>
                        <td valign="top">200</td>
                        <td valign="top">200</td>
                        <td valign="top">150</td>
                        <td valign="top">150</td>
                        <td valign="top">150</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">&nbsp;Packing</td>
                        <td colspan="2" valign="top">Laminated<br>
                            PP/HDPE Bag &amp; Jumbo Bag</td>
                        <td colspan="2" valign="top">
                            <p align="center">PP/HDPE &amp; Jumbo Bag</p>
                        </td>
                        <td colspan="2" valign="top">PP/HDPE Bag</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-5">
            <div class="row text-center">
                <div class="col-lg-4 mb-0 text-muted">
                    <h1>90 %</h1>
                    <h3>Grade A</h3>
                </div>
                <div class="col-lg-4 mb-0 text-muted">
                    <h1>85 %</h1>
                    <h3>Grade B</h3>
                </div>
                <div class="col-lg-4 mb-0 text-muted">
                    <h1>80 %</h1>
                    <h3>Grade C</h3>
                </div>
            </div>
            <div class="row">

                <h6 class="text-lg mt-4 text-primary">Product Details</h6>
                <table class="table table-primary">
                    <tbody>

                        <tr>
                            <td>Material</td>
                            <td>Hydrated Lime</td>
                        </tr>
                        <tr>
                            <td>Packaging Size</td>
                            <td>25 Kg, 40 Kg, 1000 Kg</td>
                        </tr>
                        <tr>
                            <td>Packaging Type</td>
                            <td>Bag, Plastic Bag</td>
                        </tr>
                        <tr>
                            <td>Purity</td>
                            <td>0.90, 0.85, 0.80</td>
                        </tr>
                        <tr>
                            <td>Form</td>
                            <td>Powder</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="py-4 text-muted">
                <h6>Additional Information:</h6>
                <ul>
                    <li><h6>Port of Dispatch: Road Transport</h6></li>
                    <li><h6>Delivery Time: As soon as possible</h6></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>