    <!-- Divider Section -->
    <section class="bg-cover bg-center" style="background: url(assets/img/hero-banner-2.jpg)">
        <div class="primary-overlay py-5">
          <div class="overlay-content">
            <div class="container">
              <div class="row align-items-center gy-4">
                <div class="col-lg-7 text-center text-lg-start">
                  <h2 class="text-white mb-2">You Always Get the Best Guidance</h2>
                  <p class="text-white mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-lg-3 ms-auto text-center text-lg-end"><a class="btn btn-outline-light" href="#!">Request a quote</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>