<section class="hero bg-cover bg-position py-4" style="background: url(assets/img/applications-bg.jpg)">
    <div class="container py-5 index-forward text-white">
        <h1>Applications</h1>
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none mb-0 p-0">
                <li class="breadcrumb-item ps-0"><a routerLink="/"> <i class="fas fa-home me-2"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Applications</li>
            </ol>
        </nav>
    </div>
</section>
<div div class="container py-5 text-center">


    <div class="row py-4">

        <!-- Suger -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/suger.jpg" alt="">
                <h3 class="h5">Suger Industry</h3>
                <p class="text-sm mb-0 text-muted">Lime is used in sugar production when purifying the juice from beet
                    or cane. Sugar beet is sliced up and passed through a diffusor to extract the sugar juice. Lime,
                    produced from high calcium limestone, is used in the production process for this essential
                    operation.</p>
            </div>
        </div>

        <!-- Paper -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/paper.jpg" alt="">
                <h3 class="h5">Paper Industry</h3>
                <p class="text-sm mb-0 text-muted">The caustic properties of hydrated lime are used in the sulphate
                    process during the manufacture of paper and pulp. About 250 kg of quicklime per tonne of pulp are
                    required for causticisation.</p>
            </div>
        </div>

        <!-- Aerated Concrete Blocks -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/aerated-concrete-blocks.jpg" alt="">
                <h3 class="h5">Aerated Concrete Blocks</h3>
                <p class="text-sm mb-0 text-muted">Aerated Concrete (AAC) material was developed in 1924 in Sweden. It
                    has become one of the most used building materials in Europe and is rapidly growing in many other
                    countries around the world. AAC is produced from the common materials lime, sand, cement and water,
                    and a small amount of rising agent.</p>
            </div>
        </div>
    </div>


    <!-- Row-2 -->
    <div class="row py-4">

        <!-- Calcium Silicate Bricks -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/calcium-silicate-bricks.jpg" alt="">
                <h3 class="h5">Calcium Silicate Bricks</h3>
                <p class="text-sm mb-0 text-muted">They are made by mixing quicklime or hydrated lime with silica sand.
                    The bricks are pressed into shape and then heated in an autoclave, which promotes reactions between
                    calcium and silicates in the sand and gives extra strength.</p>
            </div>
        </div>

        <!-- Asphalt -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/asphalt.jpg" alt="">
                <h3 class="h5">Asphalt</h3>
                <p class="text-sm mb-0 text-muted">Hydrated lime can be used as an additive to hot mix asphalt,
                    increasing the resistance of the asphalt to water stripping. Lime also acts as a mineral filler and
                    as an antioxidant.
                    Many asphalt-aggregates mixtures suffer a loss of bond between the binder and aggregate in the
                    presence of water. This results in a loss of strength, causing the mixture to fail prematurely.
                    Therefore anti-stripping agents are used like LIME</p>
            </div>
        </div>

        <!-- Plastic Industry -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/plastic-industry.jpg" alt="">
                <h3 class="h5">Plastic Industry</h3>
                <p class="text-sm mb-0 text-muted">Quicklime reacts with any free water present to form hydrated lime.
                    This removes water from the system and can be useful when dealing with products that are heated
                    during the manufacturing process, such as plastic. When making plastic, if any potential water is
                    not removed then steam bubbles may occur in the finished product, which can affect its strength and
                    appearance. Quicklime is therefore often used in PVC and rubber manufacturing processes.</p>
            </div>
        </div>
    </div>

    <!-- Row-3 -->
    <div class="row py-4">

        <!-- Construction -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/construction.jpg" alt="">
                <h3 class="h5">Construction</h3>
                <p class="text-sm mb-0 text-muted">In the drying, improvement and stabilisation of soils. As a component
                    of mortars, exterior rendering and interior plasters. As an anti-stripping agent in the production
                    of asphalt and tarmac for road construction As a binder in the productions of a range of autoclaved
                    calcium silicate products (including bricks, aircrete, fire resistant board and concrete).

                </p>
            </div>
        </div>

        <!-- Fruit Farming -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/fruit-farming.jpg" alt="">
                <h3 class="h5">Fruit Farming</h3>
                <p class="text-sm mb-0 text-muted">As apples and other fruit ripen, they emit carbon dioxide. When in
                    storage, the carbon dioxide lowers the level of oxygen in the atmosphere and accelerates the rate of
                    deterioration of the fruit. By circulating air around the fruit and over hydrated lime, the level of
                    carbon dioxide is reduced and the fruit remains fresh and useable for longer. Lime can also be used
                    to neutralise waste citric acid and to raise the pH of fruit juices to stabilise the flavour and
                    colour.</p>
            </div>
        </div>

        <!-- Fish Farming -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/fish-farming.jpg" alt="">
                <h3 class="h5">Fish Farming</h3>
                <p class="text-sm mb-0 text-muted">Always choose agricultural limestone (CaCO3) for application in your
                    fishpond. You can also use Hydrated lime (Ca (OH)2) which is an inexpensive and effective pond
                    sterilizer. However, it is known to raise the pH quickly and dramatically above tolerable levels for
                    most aquatic organisms.</p>
            </div>
        </div>
    </div>


    <!-- Row-4 -->
    <div class="row py-4">

        <!-- Agriculture -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/agriculture.jpg" alt="">
                <h3 class="h5">Agriculture</h3>
                <p class="text-sm mb-0 text-muted">Calcium Carbonate, quicklime and hydrated lime can all be used to
                    adjust the pH of soils to give optimum growing conditions and hence improve crop yields. The use of
                    quicklime, hydrated lime and/or blends of these with calcium carbonate and magnesium Limestone will
                    help to speed pH adjustment which can help to treat conditions.

                </p>
            </div>
        </div>
  <!--Steel and Iron Industry -->
  <div class="col-lg-4 col-md-6">
    <div class="px-4 py-5 card h-100">
        <img class="img-fluid mb-3" src="assets/img/steel-and-iron.jpg" alt="">
        <h3 class="h5">Steel and Iron Industry</h3>
        <p class="text-sm mb-0 text-muted">In many countries, lime is used more for iron and steel making than
            for construction and building. Most of the lime used is for fluxing impurities in the basic oxygen
            steelmaking (BOS) process. Lime is also used in similar quantities in the following:
        </p>
        <ul class="text-sm mb-0 text-muted">
            <li>The sinter strand process for the preparation of iron ore.</li>
            <li>In the desulfurisation of pig iron.
            </li>
            <li>As a fluxing agent in other oxygen steelmaking process.
            </li>
            <li> In the electric arc steelmaking process.
            </li>
            <li> In many of the secondary steelmaking processes.
            </li>
        </ul>
    </div>
</div>

        <!-- Water Treatment -->
        <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 card h-100">
                <img class="img-fluid mb-3" src="assets/img/water-treatment.jpg" alt="">
                <h3 class="h5">Water Treatment</h3>
                <p class="text-sm mb-0 text-muted">Lime is widely used in the production of water for human consumption.


                    Water treatment is comprised of several basic processes, depending on the impurities that need to be
                    reduced. They are as follows: </p>
                <ul class="text-sm mb-0 text-muted">
                    <li>The removal of suspended/colloidal matter.</li>
                    <li>Reducing hardness.</li>
                    <li>Disinfection & pH adjustment.</li>
                    <li>The removal of suspended/colloidal matter.</li>
                    <li>Reducing the concentrations of dissolved metals.</li>
                </ul>



            </div>
        </div>

      
    </div>
</div>
<app-footer></app-footer>