    <!-- Features Section -->
    <section class="py-5 bg-light">
        <div class="container py-5">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
              <p class="h6 mb-1 text-uppercase text-primary mb-3">Our main features</p>
              <h2 class="mb-4">We Work With You To Address Your Most Critical Business Priorities</h2>
              <p class="text-sm text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <ul class="list-check list-unstyled row px-3 mb-4 gy-2">
                <li class="text-sm text-muted col-lg-6">Procurement Agents</li>
                <li class="text-sm text-muted col-lg-6">Production Experts</li>
                <li class="text-sm text-muted col-lg-6">Quality Engineers</li>
                <li class="text-sm text-muted col-lg-6">R & D Personnel</li>
                <li class="text-sm text-muted col-lg-6">Logistic Professional</li>
                <li class="text-sm text-muted col-lg-6">Sales & Marketing Officers</li>
              </ul>
              <ul class="list-inline py-4 border-top border-bottom d-flex align-items-center">
                <!-- <li class="list-inline-item pr-4 mr-0"><img src="assets/img/about-sign.png" alt="" width="80"></li> -->
                <li class="list-inline-item px-4 mr-0 border-left">
                  <h5 class="mb-0">Mr. Hanuman R. Jangid</h5>
                  <p class="small font-weight-normal text-muted mb-0">Co-Founder, Kuber Chemicals</p>
                </li>
                <li class="list-inline-item pl-4 border-left">
                  <h5 class="mb-0">+91 982 3056 062</h5>
                  <p class="small font-weight-normal text-muted mb-0">Call to ask any question</p>
                </li>
              </ul>
            </div>
            <div class="col-lg-5 ms-auto mb-4 mb-lg-0 order-1 order-lg-2">
              <div class="p-2 border"><img class="img-fluid" src="assets/img/test-tube.jpg" alt=""></div>
            </div>
          </div>
        </div>
      </section>