    <!-- Features Section -->
    <section class="py-5 bg-light">
        <div class="container py-5">
          <div class="row align-items-center gx-lg-0">
            <div class="col-lg-5">
              <div class="bg-primary pe-lg-3"><img class="img-fluid w-100" src="assets/img/why-us.jpg" alt="why us img"></div>
            </div>
            <div class="col-lg-7">
              <div class="p-4 p-md-5 shadow bg-white">
                <p class="h6 mb-1 text-uppercase text-primary mb-3">Why choose us</p>
                <h2 class="mb-5">We Provide Experts To Create A Great Value For Your Business</h2>
                <div class="row">
                  <div class="col-lg-9">
                    <ol class="list-numbers mb-0">
                      <li class="mb-4">
                        <h5>Cost-effectiveness and timeliness</h5>
                        <p class="text-sm text-muted">Providing right quality product at effective price. </p>
                      </li>
                      <li class="mb-4">
                        <h5>Inhouse lab for testing</h5>
                        <p class="text-sm text-muted">We have inbuilt infrastructure to test the quality of product. </p>
                      </li>
                      <li class="mb-4">
                        <h5>Capacity to meet bulk demands</h5>
                        <p class="text-sm text-muted">Our skilled personnel are a competent lot to handle bulk orders without any stress. </p>
                      </li>
                      <li>
                        <h5>Transparent business approach </h5>
                        <p class="text-sm text-muted">We believe in keeping long term business relations, hence our approach to business is always ethical and transparent.</p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>