<!-- Services Section -->
<section class="py-5">
  <div class="container py-5 text-center">
    <header class="mb-5">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <p class="h6 text-uppercase text-primary mb-0">Our services</p>
          <h2>We Creating Solutions For Your Business</h2>
        </div>
      </div>
    </header>
    <div class="row align-items-stretch gy-4">
      <div class="col-lg-4 col-md-6">
        <div class="px-4 py-5 border border-2 border-dash h-100">
          <svg class="svg-icon mb-4 text-primary svg-icon-light svg-icon-big">
            <use xlink:href="#excavator-1"> </use>
          </svg>
          <h3 class="h5">Process</h3>
          <p class="text-sm mb-0 text-muted">Lime stone goes through many transformations, starting with drilling and
            blasting in the quarry, on the way to becoming quicklime or hydrated lime. After crushing and screening the
            crushed limestone is directed towards kiln where it is calcined at about 1200 °C and transformed into lime.
            Further lime is processed
            to be transformed into various lime products.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="px-4 py-5 border border-2 border-dash h-100">
          <svg class="svg-icon mb-4 text-primary svg-icon-light svg-icon-big">
            <use xlink:href="#quality-1"> </use>
          </svg>
          <h3 class="h5">ISO Certified Quality</h3>
          <p class="text-sm mb-0 text-muted">To ensure product quality, we take advantage of the latest in process
            control methods such as Statistical Process Control (SPC) and Statistical Quality Control (SQC)
            techniques.vasudev chemical plant is Quality of ISO 9001:2008 quality assurance procedures and follow the
            required standards.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="px-4 py-5 border border-2 border-dash h-100">
          <svg class="svg-icon mb-4 text-primary svg-icon-light svg-icon-big">
            <use xlink:href="#survey-1"> </use>
          </svg>
          <h3 class="h5">Research &amp; Development</h3>
          <p class="text-sm mb-0 text-muted">In addition to satisfying your requirements and meeting your expectations,
            our commitment to quality involves a commitment to continuous improvement. As a result, our research staff
            is continuously exploring new product ideas and enhancements for our existing products. These technical
            experts are also readily available to provide you with any technical analysis, service and support you may
            need.</p>
        </div>
      </div>
     
    </div>
  </div>
</section>