<section class="hero bg-cover bg-position py-4" style="background: url(assets/img/applications-bg.jpg)">
    <div class="container py-5 index-forward text-white">
        <h1>Limestone</h1>
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none mb-0 p-0">
                <li class="breadcrumb-item ps-0"><a routerLink="/"> <i class="fas fa-home me-2"></i>Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a routerLink="/products">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Limestone</li>
            </ol>
        </nav>
    </div>
</section>

<div class="container py-5">
    <div class="row py-4">
        <div class="col-lg-7 col-md-6">
            <h6 class="text-muted">Best Quality</h6>
            <h2 class="mt-3 mb-3 text-primary">Limestone- Natural Mineral</h2>
            <p class="text-md mb-0 text-muted">
                Limestone (calcium carbonate CaCO3) is a type of carbonate sedimentary rock which is the main source of
                the material lime. It is composed mostly of the minerals calcite and aragonite, which are different
                crystal forms of CaCO3. Limestone forms when these minerals precipitate out of water containing
                dissolved calcium. This can take place through both biological and nonbiological processes, though
                biological processes, such as the accumulation of corals and shells in the sea, have likely been more
                important for the last 540 million years. Limestone often contains fossils which provide
                scientists with information on ancient environments and on the evolution of life.
                <br><br>
                This product has high purity and is virtually free from Silica < 0.45%, Iron less than 300 PPM, Lead,
                    Arsenic and other heavy metal Impurities. These minerals are best available deposit in this part of
                    the world and with our expertise, we refine it further to make it most suitable for Industrial,
                    Pharmaceutical, and Edible applications. </p>
        </div>
        <div class="col-lg-5 px-4 py-4">
            <img class="img-fluid pt-1 bg-primary mb-3" src="assets/img/limestone.jpg" alt="img limestone">
        </div>
    </div>

    <div class="row py-4">
        <div class="col-lg-7 col-md-6">
            <h2 class="mt-3 mb-3 text-muted">Product Specifications</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr class="text-primary">
                        <td colspan="2" valign="bottom" nowrap="nowrap"><strong>Specifications</strong></td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">% CaCO3</td>
                        <td valign="top">92 – 95%</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">% MgCO3</td>
                        <td valign="top">2.50 (max.)</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">% Silica</td>
                        <td valign="top">1.50 (max.)</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">% Fe2O3</td>
                        <td valign="top">0.2 (max.)</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">% Others</td>
                        <td valign="top">0.6</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">Size</td>
                        <td valign="top">0 – 6 mm/ 6 -25 mm/ 25 -50 mm</td>
                    </tr>
                    <tr class="warning">
                        <td valign="top">Packing</td>
                        <td valign="top">Loose</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-5">

            <div class="text-muted">
                <h2>Get Instant Quote Now!</h2>
            </div>


            <div class="row">

                <h6 class="text-lg mt-4">Product Details</h6>
                <table class=" table table-primary">
                    <tbody>

                        <tr>
                            <td>Material</td>
                            <td>Limestone- Natural</td>
                        </tr>
                        <tr>
                            <td>Application</td>
                            <td>Construction Industry, AAC Blocks</td>
                        </tr>

                        <tr>
                            <td>Grade Standard</td>
                            <td>Industrial Grade, Commercial Grade</td>
                        </tr>
                        <tr>
                            <td>Packaging Size</td>
                            <td>25 Kg, 40 Kg, 1000 Kg</td>
                        </tr>
                        <tr>
                            <td>Packaging Type</td>
                            <td>Bag, Plastic Bag, Jumbo Bag</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Solid</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="py-4 text-muted">
                <p class="text-md">In order to cater the variegated demands of our clients, we are offering an excellent
                    quality range of <b>Calcium Carbonate Powder.</b></p>
                <h6 class="py-4">Additional Information:</h6>
                <ul>
                    <li>
                        <h6>Port of Dispatch: Road Transport</h6>
                    </li>
                    <li>
                        <h6>Delivery Time: As soon as possible</h6>
                    </li>
                    <li>
                        <h6>Pay Mode Terms: L/C (Letter of Credit),T/T (Bank Transfer)</h6>
                    </li>
                    <li>
                        <h6>Packaging Details: Two types packing of Quick lime Powder
                            Jumbo Bag(1000-1250kg) and 50 kg bags</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
